@model HRMS.Models.Leave.LeaveResults
@{
    if (Model.leaveSummaryModel.StartDate == DateTime.MinValue)
    {
        Model.leaveSummaryModel.StartDate = DateTime.Now;
    }
    if (Model.leaveSummaryModel.EndDate == DateTime.MinValue)
    {
        Model.leaveSummaryModel.EndDate = DateTime.Now;
    }
    if (Model.leaveSummaryModel.HalfDayDate == DateTime.MinValue)
    {
        Model.leaveSummaryModel.HalfDayDate = DateTime.Now;
    }
}
<div class="card">
    <div class="card-body">
        <form id="leaveForm" class="body-text" method="post" enctype="multipart/form-data">
            <div class="row py-2">
                <div class="col-lg-6 col-md-12">
                    <label for="leavepolicy" class="form-label">Leave Duration Type:</label>
                    @Html.DropDownListFor(x => x.leaveSummaryModel.LeaveDurationTypeID, Model.leaveDurationTypes, HRMS.Models.Common.Constants.SelectLeaveDurationType, new { @class = "form-control", @required = "required", @id = "leaveDurationType" })
                </div>
            </div>

            <div class="row py-2">
                <div class="col-lg-6 col-md-12">
                    <label for="leavetype" class="form-label">Leave Type:</label>
                    @Html.HiddenFor(x => x.leaveSummaryModel.CompanyID)
                    @Html.HiddenFor(x => x.leaveSummaryModel.LeaveSummaryID)
                    @Html.HiddenFor(x => x.leaveSummaryModel.EmployeeID)
                    @Html.HiddenFor(x => x.leaveSummaryModel.UserID)
                    @Html.DropDownListFor(x => x.leaveSummaryModel.LeaveTypeID, Model.leaveTypes, HRMS.Models.Common.Constants.SelectLeaveType, new { @class = "form-control", @required = "required" })

                </div>
            </div>

            <div class="row py-2 fullDayContainer">
                <div class="col-lg-5 col-md-12">
                    <label for="datepicker1" class="form-label">From:</label>
                    <div class="position-relative">
                        <div class="input-group date" id="datepickerdiv1">
                            @Html.TextBoxFor(a => a.leaveSummaryModel.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control body-text", @type = "date", @required = "required", @min = "1990-01-01", @id = "startDate" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <label for="datepicker2" class="form-label">To:</label>
                    <div class="position-relative">
                        <div class="input-group date" id="datepickerdiv2">
                            @Html.TextBoxFor(a => a.leaveSummaryModel.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control body-text", @type = "date", @required = "required", @min = "1990-01-01", @id = "endDate" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-2 halfDayContainer">
                <div class="col-lg-5 col-md-12">
                    <label for="halfDayDatepicker" class="form-label">Date:</label>
                    <div class="position-relative">
                        <div class="input-group date" id="halfDayDatepickerdiv">
                            @Html.TextBoxFor(a => a.leaveSummaryModel.HalfDayDate, "{0:yyyy-MM-dd}", new { @class = "form-control body-text", @type = "date", @required = "required", @min = "1990-01-01", @id = "halfDayDate" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3 mb-1">
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-text body-text">Reason</span>
                        @Html.TextAreaFor(a => a.leaveSummaryModel.Reason, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-danger" type="reset">Cancel</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function toggleToDateField() {
            var leaveDurationType = $('#leaveDurationType').val();
            if (leaveDurationType === '2') {
                $('.fullDayContainer').hide();
                $('.halfDayContainer').show();
                $('#startDate').removeAttr('required');
                $('#endDate').removeAttr('required');
                $('#halfDayDate').attr('required', 'required');
            } else {
                $('.fullDayContainer').show();
                $('.halfDayContainer').hide();
                $('#startDate').attr('required', 'required');
                $('#endDate').attr('required', 'required');
                $('#halfDayDate').removeAttr('required');
            }
        }

        // Initial call
        toggleToDateField();

        // Call when the leave duration type changes
        $('#leaveDurationType').change(function () {
            toggleToDateField();
        });
    });
</script>