@using HRMS.Models;
@using HRMS.Models.Common;
@using System.Globalization;
@using HRMS.Models.MyInfo;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model MyInfoResults
@{
    Layout = String.Format("~/Areas/{0}/Views/Shared/_Layout.cshtml", @HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.AreaName));

    ViewData["Title"] = "Employee";
    var ProfilePhoto = "";
    if (!string.IsNullOrEmpty(Model.employeeModel.ProfilePhoto))
    {
        ProfilePhoto = "/" + HRMS.Models.Common.Constants.EmployeePhotoPath + Model.employeeModel.EmployeeID + "/" + Model.employeeModel.ProfilePhoto;
    }
    else
    {
        ProfilePhoto = HRMS.Models.Common.Constants.NoImagePath;
    }
}

<div class="main-header anim" style="--delay: 0s">My Info</div>


    <section class="upper-section d-flex">

        <div class="container-fluid">
            <div class="profile-header d-flex ">
                <div class="profile-header-img">
                        <img src="@ProfilePhoto" onerror="this.onerror=null; this.src='@(HRMS.Models.Common.Constants.NoImagePath)'"  class="rounded-circle fixed z-5" />
                </div>
                <div class="profile-header-small-info">
                        <h2>@(Model.employeeModel.FirstName) @(Model.employeeModel.MiddleName) @(Model.employeeModel.Surname)</h2>
                <p class="joiningDate">
                    <b>Joining Date:</b> Jan 02, 2024 <span>0y - 63d</span>
                </p>
                    <div class="myinfo-menu">
                        <ul class="nav nav-tabs section-tabs" id="myTab1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link section-link" id="home-tab1" data-bs-toggle="tab" data-bs-target="#attendance" role="tab" aria-controls="attendance" aria-selected="false" tabindex="-1">Personal Info</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link section-link" id="profile-tab1" data-bs-toggle="tab" data-bs-target="#attendance" role="tab" aria-controls="attendance" aria-selected="true">Professional Info</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link section-link" id="home-tab1" data-bs-toggle="tab" data-bs-target="#attendance"  role="tab" aria-controls="attendance" aria-selected="false" tabindex="-1">Profile</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link section-link" id="home-tab1" data-bs-toggle="tab" data-bs-target="#timeoff"  role="tab" aria-controls="timeoff" aria-selected="false" tabindex="-1">Time Off</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link section-link" id="profile-tab1" data-bs-toggle="tab" data-bs-target="#attendance"  role="tab" aria-controls="attendance" aria-selected="true">Attendance</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link section-link" id="home-tab1" data-bs-toggle="tab" data-bs-target="#attendance"  role="tab" aria-controls="attendance" aria-selected="false" tabindex="-1">Salary Portal</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link section-link" id="profile-tab1" data-bs-toggle="tab" data-bs-target="#attendance"  role="tab" aria-controls="attendance" aria-selected="true">Separation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 py-4">
            @* <div class="card z-0" style="">
                <div class="card-body body-side-text">

                    <div class="px-3 pt-5">
                        <h6 class="card-title">Joining Date:</h6>
                        <p>
                            Jan 02, 2024 <br>
                            0y - 63d

                        </p>
                    </div>
                    <hr>
                    <ul class="list-group py-1 pb-4">
                        <li class="list-group-item"><img src="/assets/img/icons/id.png" width="20" height="20" title="Employee ID">&nbsp;&nbsp;ELS0349</li>
                        <li class="list-group-item"><img src="/assets/img/icons/status.png" width="20" height="20" title="Status">&nbsp;&nbsp;Active - Full Time</li>
                        <li class="list-group-item"><img src="/assets/img/icons/designation.png" width="20" height="20" title="Designation">&nbsp;&nbsp;Business Analyst</li>
                        <li class="list-group-item"><img src="/assets/img/icons/department.png" width="20" height="20" title="Department">&nbsp;&nbsp;Operations</li>
                        <li class="list-group-item"><img src="/assets/img/icons/location.png" width="20" height="20" title="Location">&nbsp;&nbsp;Mohali, Punjab</li>
                    </ul>
                </div>
            </div> *@
            <ul class="list-group py-1 pb-4">
                <li class="list-group-item"><img src="/assets/img/icons/id.png" width="20" height="20" title="Employee ID">&nbsp;&nbsp;ELS0349</li>
                <li class="list-group-item"><img src="/assets/img/icons/status.png" width="20" height="20" title="Status">&nbsp;&nbsp;Active - Full Time</li>
                <li class="list-group-item"><img src="/assets/img/icons/designation.png" width="20" height="20" title="Designation">&nbsp;&nbsp;Business Analyst</li>
                <li class="list-group-item"><img src="/assets/img/icons/department.png" width="20" height="20" title="Department">&nbsp;&nbsp;Operations</li>
                <li class="list-group-item"><img src="/assets/img/icons/location.png" width="20" height="20" title="Location">&nbsp;&nbsp;Mohali, Punjab</li>
            </ul>
        </div>


        <div class="col-lg-9 py-4">
            <div class="tab-content" id="myTabContentSection">
                <div class="tab-pane fade active show" id="timeoff" role="tabpanel" aria-labelledby="timeoff-tab">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="myTab-timeoff" role="tablist" style="background-color: #cfd8e3; border-radius:5px;">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link page-head-link active" id="apply-tab" data-bs-toggle="tab" data-bs-target="#apply" type="button" role="tab" aria-controls="apply" aria-selected="false" tabindex="-1">Apply Leave</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link page-head-link" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary" type="button" role="tab" aria-controls="summary" aria-selected="true">Leave Summary</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content pt-2" id="myTabContent-timeoff">
                                        <div class="tab-pane fade active show" id="apply" role="tabpanel" aria-labelledby="apply-tab">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <form class="body-text" method="post" enctype="multipart/form-data">

                                                                <div class="row py-2">
                                                                    <div class="col-lg-6 col-md-12">
                                                                        <label for="leavetype" class="form-label">Leave Type:</label>
                                                                        @Html.DropDownListFor(x => x.leaveResults.leaveSummaryModel.LeaveDurationTypeID, Model.leaveResults.leaveDurationTypes, HRMS.Models.Common.Constants.SelectLeaveDurationType, new { @class = "form-control", @required = "required" })

                                                                    </div>
                                                                </div>

                                                                <div class="row py-2">
                                                                    <div class="col-lg-6 col-md-12">
                                                                        <label for="leavetype" class="form-label">Leave Type:</label>
                                                                        @Html.HiddenFor(x => x.leaveResults.leaveSummaryModel.CompanyID)
                                                                        @Html.HiddenFor(x => x.leaveResults.leaveSummaryModel.LeaveSummaryID)
                                                                        @Html.HiddenFor(x => x.leaveResults.leaveSummaryModel.EmployeeID)
                                                                        @Html.HiddenFor(x => x.leaveResults.leaveSummaryModel.UserID)
                                                                        @Html.DropDownListFor(x => x.leaveResults.leaveSummaryModel.LeaveTypeID, Model.leaveResults.leaveTypes, HRMS.Models.Common.Constants.SelectLeaveType, new { @class = "form-control", @required = "required" })

                                                                    </div>
                                                                </div>

                                                                <div class="row py-2">
                                                                    <div class="col-lg-5 col-md-12">
                                                                        <label for="datepicker1" class="form-label">From:</label>
                                                                        <div class="position-relative">
                                                                            <div class="input-group date" id="datepickerdiv1">

                                                                                @Html.TextBoxFor(a => a.leaveResults.leaveSummaryModel.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control body-text", @type = "date", @required = "required" })

                                                                                @*  <span class="input-group-append">
                                                                                <span class="input-group-text bg-light d-block">
                                                                                <i class="fa fa-calendar"></i>
                                                                                </span>
                                                                                </span> *@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-5 col-md-12">
                                                                        <label for="datepicker2" class="form-label">To:</label>
                                                                        <div class="position-relative">
                                                                            <div class="input-group date" id="datepickerdiv2">

                                                                                @Html.TextBoxFor(a => a.leaveResults.leaveSummaryModel.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control body-text", @type = "date", @required = "required" })

                                                                                @* <span class="input-group-append">
                                                                                <span class="input-group-text bg-light d-block">
                                                                                <i class="fa fa-calendar"></i>
                                                                                </span>
                                                                                </span> *@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row py-3 mb-1">
                                                                    <div class="col-lg-12">
                                                                        <div class="input-group">
                                                                            <span class="input-group-text body-text">Reason</span>
                                                                            @Html.TextAreaFor(a => a.leaveResults.leaveSummaryModel.Reason, new { @class = "form-control", @required = "required" })
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <button class="btn btn-success" type="submit">Submit</button>
                                                                <button class="btn btn-danger" type="reset">Cancel</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 px-4">
                                                    <div class="row mb-3">
                                                        <div class="card" style="height:60px;">
                                                            <div class="card-body">
                                                                <ul class="list-group" style="width:100%;">
                                                                    <li class="list-group-item d-flex justify-content-between align-items-center body-text" style="border:none; margin-top:-7px;">
                                                                        Leave Balance
                                                                        <span class="badge rounded-pill body-text" style="background-color: #05397b">2 / 6</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="card">
                                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header" id="flush-headingOne">
                                                                        <button class="accordion-button collapsed body-text  z-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                                            Holiday List
                                                                        </button>
                                                                    </h2>
                                                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                                        <div class="accordion-body">
                                                                            <ul class="list-group body-text">
                                                                                <li class="list-group-item holiday-list d-flex justify-content-between align-items-center">
                                                                                    01-Jan-2024
                                                                                    <span class="badge holiday-list-text bg-primary rounded-pill">New Year</span>
                                                                                </li>
                                                                                <li class="list-group-item holiday-list d-flex justify-content-between align-items-center">
                                                                                    26-Jan-2024
                                                                                    <span class="badge holiday-list-text bg-primary rounded-pill">Republic Day</span>
                                                                                </li>
                                                                                <li class="list-group-item holiday-list d-flex justify-content-between align-items-center">
                                                                                    25-Mar-2024
                                                                                    <span class="badge holiday-list-text bg-primary rounded-pill">Holi</span>
                                                                                </li>
                                                                                <li class="list-group-item holiday-list d-flex justify-content-between align-items-center">
                                                                                    17-Apr-2024
                                                                                    <span class="badge holiday-list-text bg-primary rounded-pill">Ram Navmi</span>
                                                                                </li>
                                                                                <li class="list-group-item holiday-list d-flex justify-content-between align-items-center">
                                                                                    15-Aug-2024
                                                                                    <span class="badge holiday-list-text bg-primary rounded-pill">Independence Day</span>
                                                                                </li>
                                                                                <li class="list-group-item holiday-list d-flex justify-content-between align-items-center">
                                                                                    31-Oct-2024
                                                                                    <span class="badge holiday-list-text bg-primary rounded-pill">Diwali</span>
                                                                                </li>
                                                                                <li class="list-group-item holiday-list d-flex justify-content-between align-items-center">
                                                                                    15-Nov-2024
                                                                                    <span class="badge holiday-list-text bg-primary rounded-pill">Gurpurab</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>











                                        <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                                            <div class="row">
                                                <div class="col-12 col-lg-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped body-text dataTable no-footer">
                                                            <thead>
                                                                <tr>
                                                                    <th>Request Date</th>
                                                                    <th>Start Date</th>
                                                                    <th>End Date</th>
                                                                    <th>Type</th>
                                                                    <th>Days</th>
                                                                    <th>Status</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.leaveResults.leavesSummary)
                                                                {
                                                                    <tr>
                                                                        <td>@item.RequestDate</td>
                                                                        <td>@item.StartDate.ToString("dd/M/yyyy", CultureInfo.InvariantCulture)</td>
                                                                        <td>@item.EndDate.ToString("dd/M/yyyy")</td>
                                                                        <td>@item.LeaveTypeName</td>
                                                                        <td><span class="fw-bold text-primary">@item.NoOfDays</span></td>
                                                                        @switch (item.LeaveStatusID)
                                                                        {
                                                                            case (int)LeaveStatus.Approved:
                                                                                <td><span class="fw-bold text-success">@item.LeaveStatusName</span></td>
                                                                                break;
                                                                            case (int)LeaveStatus.PendingApproval:
                                                                                <td><span class="fw-bold text-primary">@item.LeaveStatusName</span></td>
                                                                                break;
                                                                            case (int)LeaveStatus.NotApproved:
                                                                                <td><span class="fw-bold text-danger">@item.LeaveStatusName</span></td>
                                                                                break;
                                                                            case (int)LeaveStatus.Cancelled:
                                                                                <td><span class="fw-bold text-secondary">@item.LeaveStatusName</span></td>
                                                                                break;
                                                                        }

                                                                        <td>
                                                                            <a href="~/employee/myinfo/Index/@(item.EncryptedIdentity)"><i class="fa fa-edit" style="font-size:20px;color:blue;"></i></a> &nbsp;
                                                                            <a href="#"><i class="fa fa-close" style="font-size:22px;color:red"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="attendance" role="tabpanel" aria-labelledby="attendance-tab">
                <div><h3 class="themetx" style="color: #05397b;">Nothing to show...</h3></div>

            </div>
        </div>
    </div>
</div>

