@using HRMS.Models;
@using HRMS.Models.Common;
@using System.Globalization;
@using HRMS.Models.MyInfo;
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IConfiguration _configuration
@model List<LeavePolicyDetailsModel>
@{
    Layout = String.Format("~/Areas/{0}/Views/Shared/_Layout.cshtml", @HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.AreaName));
    var RoleName = Convert.ToInt64(this.Context.Session.GetString(Constants.RoleID));
    ViewData["Title"] = "Policy ";
   
}
<style>
    .description-preview {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>
<div class="card p-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        @foreach (var groupWithIndex in Model.GroupBy(item => item.PolicyCategoryId).Select((group, index) => new { Group = group, Index = index }))
        {
            var group = groupWithIndex.Group;
            var index = groupWithIndex.Index;

            <div class="accordion-item">
                <h2 class="accordion-header mt-2" id="flush-heading-@group.Key">
                    <button class="accordion-button @(index == 0 ? "" : "collapsed") z-0 mb-0"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-@group.Key"
                            aria-expanded="@(index == 0 ? "true" : "false")"
                            aria-controls="flush-collapse-@group.Key">
                        @group.First().PolicyCategoryName
                    </button>
                </h2>
                    <div id="flush-collapse-@group.Key"
                         class="accordion-collapse collapse @(index == 0 ? "show" : "")"
                         aria-labelledby="flush-heading-@group.Key"
                         data-bs-parent="#accordionFlushExample">
                        <div class="my-3">
                            <div class="row">
                            @foreach (var item in group)
                            {
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">                                   
                                    <div class="card h-100 text-center">
                                        <div class="card-body d-flex flex-column justify-content-between">
                                            <h6 class="card-title mb-2">@item.Title</h6>
                                            @{
                                                string fullDescription = item.Description ?? "";
                                                string previewDescription = fullDescription.Length > 50
                                                ? fullDescription.Substring(0, 50) + "..."
                                                : fullDescription;
                                            }
                                            <p class="description-preview">@Html.Raw(previewDescription)</p>

                                            <button class="btn btn-addBtn btn-sm btn-outline-primary mt-2 view-policy"
                                                    data-title="@item.Title"
                                                    data-description='@Html.Raw(item.Description)'
                                                    data-file="@item.PolicyDocument">
                                                View
                                            </button>

                                           
                                        </div>
                                    </div>
                                </div>
                            }

                            </div>

                        </div>
                    </div>
            </div>
        }
    </div>
</div>


<div class="modal fade" id="policyModal" tabindex="-1" aria-labelledby="policyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="policyModalLabel">Policy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalDescription"></p>
                <div id="modalPreview" class="text-center mt-3"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.view-policy', function () {
        const title = $(this).data('title');
        const description = $(this).data('description');
        const file = $(this).data('file');
        const extension = file.split('?')[0].split('.').pop().toLowerCase();

        $('#policyModalLabel').text(title);
        $('#modalDescription').html(description);

        let previewHtml = '';
        if (["jpg", "jpeg", "png", "webp"].includes(extension)) {
            previewHtml = `<img src="${file}" alt="Preview" class="img-fluid rounded border">`;
        } else {
            previewHtml = `<a href="${file}" target="_blank" class="btn btn-outline-secondary">Open Document</a>`;
        }

        $('#modalPreview').html(previewHtml);
        const modal = new bootstrap.Modal(document.getElementById('policyModal'));
        modal.show();
    });
</script>