@using HRMS.Models.Employee;
@model EmployeeModel
@{
    int Index = 0;
}
<div class="table-responsive">
    <table class="table table-striped body-text dataTable no-footer">
        <thead>
            <tr>
                <th>SNo</th>
                <th>Language</th>
                <th>Read</th>
                <th>Write</th>
                <th>Speak</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @{
                int index = 1;
            }
            @foreach (var familyDetail in Model.LanguageDetails)
            {

                var delete = (index.ToString()) + "DeleteLanguageDetails";


                <tr id="@(delete)">
                    <td>
                        @(index).
                    </td>
                    <td>

                        @Html.HiddenFor(m => m.LanguageDetails[Index].LanguageDetailID)

                        @Html.DropDownListFor(x => x.LanguageDetails[Index].LanguageID, Model.Languages, HRMS.Models.Common.Constants.SelectLanguage, new { @class = "form-control LanguageID", @required = "required" })

                    </td>

                    <td>
                        @Html.CheckBoxFor(a => a.LanguageDetails[Index].IsRead)
                    </td>

                    <td>
                        @Html.CheckBoxFor(a => a.LanguageDetails[Index].IsWrite)
                    </td>

                    <td>
                        @Html.CheckBoxFor(a => a.LanguageDetails[Index].IsSpeak)
                    </td>

                    <td>
                        <a onclick="deleteLanguageDetails('@(delete)')"><img style="width:20px; height:auto;" src="~/assets/img/delete.png" /></a>
                    </td>
                </tr>
                Index++;
                index++;
            }
        </tbody>
    </table>
 </div>
 



<script type="text/javascript">
    function deleteLanguageDetails(Id) {
        $("#" + Id).remove();
        AddNewLanguage(true);
    }
</script>