@using HRMS.Models.Employee;
@model EmployeeModel
@{
    int Index = 0;
}



<div class="table-responsive">
    <table class="table table-striped body-text dataTable no-footer">
        <thead>
            <tr>
                <th>SNo</th>
                <th>Full Name of Reference</th>
                <th>Contact</th>
                <th>Organization</th>
                <th>Relationship with candidate</th>
            </tr>
        </thead>
        <tbody>

            @{
                int index = 1;
            }
            @foreach (var familyDetail in Model.References)
            {

                var delete = (index.ToString()) + "ReferenceDetailsDelete";


                <tr id="@(delete)">
                    <td>
                        @(index).
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.References[Index].ReferenceDetailID)
                        @Html.TextBoxFor(a => a.References[Index].Name, new { @class = "form-control ReferenceDetails", @required = "required" })
                    </td>

                    <td>
                        @Html.TextBoxFor(a => a.References[Index].Contact, new { @class = "form-control telephone", @required = "required" })

                    </td>

                    <td>
                        @Html.TextBoxFor(a => a.References[Index].OrgnizationName, new { @class = "form-control", @required = "required" })
                    </td>

                    <td>
                        @Html.TextBoxFor(a => a.References[Index].RelationWithCandidate, new { @class = "form-control" })
                    </td>


                </tr>
                Index++;
                index++;
            }
        </tbody>
    </table>
</div>





<script type="text/javascript">
    function deleteEducationalDetails(Id) {        
        $("#" + Id).remove();
        AddNewEducation(true);
    }
</script>