@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@using HRMS.Models.Common
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IConfiguration _configuration
@{
	Layout = String.Format("~/Areas/{0}/Views/Shared/_Layout.cshtml", @HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.AreaName));

}
<style>
	.fade:not(.show) {
		opacity: 1;
	}
</style>

<section class="lower-section">
	<div class="container-fluid">
		<div class="row">
			<div class="tab-pane fade" id="compOff1" role="tabpanel" aria-labelledby="compOff1-tab">
				<div class="group-box anim">
					<div class="tabsInfo" id="">
						<h3>CompOff Info</h3>
					
						<nav>
							<div class="nav nav-tabs mb-3" id="myTab-timeoff" role="tablist">
								<button class="nav-link active" id="applied-compOff-tab1" data-bs-toggle="tab" data-bs-target="#applied-compOff-tab" type="button" role="tab" aria-controls="applied-compOff-tab" aria-selected="true" href="#pendingTab">CompOff For Approval </button>
								<button class="nav-link  " id="compOff-approved-tab1" data-bs-toggle="tab" data-bs-target="#compOff-approved-tab" type="button" role="tab" aria-controls="compOff-approved-tab" aria-selected="false" href="#approvedTab" onclick="compOffForApproved()">Approved CompOff</button>
								<button class="nav-link  " id="compOff-Reject-tab1" data-bs-toggle="tab" data-bs-target="#compOff-Reject-tab" type="button" role="tab" aria-controls="compOff-Reject-tab" aria-selected="false" href="#rejectedTab" onclick="compOffForReject()">Rejected CompOff</button>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent1">
							<div class="tab-pane fade show active" id="applied-compOff-tab" role="tabpanel" aria-labelledby="applied-compOff-tab1">
								<div class="group-box anim">
									<div class="tabsInfo" id="myTabContent-timeoff">
										<h3>CompOff For Approval</h3>
									</div>
									<div role="tabpanel" aria-labelledby="apply-tab">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="card">
													<div class="card-body">
														<table id="tblcompOffForApproval" class="table table-striped body-text" style="width:100%">
															<thead>
																<tr>
																	<th>Employee Name</th>
																	<th>From Date</th>
																	<th>To Date</th>
																	<th>Work Date</th>
																	<th>Total Hours</th>
																	<th>Status</th>
																	<th>Remark</th>
																	<th>Action</th>
																</tr>
															</thead>

														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>
							<div class="tab-pane fade" id="compOff-approved-tab" role="tabpanel" aria-labelledby="compOff-approved-tab1">

								<div class="group-box anim">
									<div class="tabsInfo" id="myTabContent-timeoff">
										<h3>Approved compOff</h3>
									</div>
									<div role="tabpanel" aria-labelledby="apply-tab">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="card">
													<div class="card-body">
														<table id="tblcompOffForApproved" class="table table-striped body-text" style="width:100%">
															<thead>
																<tr>
																	<th>Employee Name</th>
																	<th>From Date</th>
																	<th>To Date</th>
																	<th>Work Date</th>
																	<th>Total Hours</th>
																	<th>Status</th>
																	<th>Remark</th>
																</tr>
															</thead>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="compOff-Reject-tab" role="tabpanel" aria-labelledby="compOff-Reject-tab1">
								<div class="group-box anim">
									<div class="tabsInfo" id="myTabContent-timeoff">
										<h3>Rejected compOff</h3>
									</div>
									<div role="tabpanel" aria-labelledby="apply-tab">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="card">
													<div class="card-body">
														<table id="tblcompOffForReject" class="table table-striped body-text" style="width:100%">
															<thead>
																<tr>
																	<th>Employee Name</th>
																	<th>From Date</th>
																	<th>To Date</th>
																	<th>Work Date</th>
																	<th>Total Hours</th>
																	<th>Status</th>
																	<th>Remark</th>
																</tr>
															</thead>

														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal" tabindex="-1" role="dialog" id="ApproveRejectModel">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">CompOff Request Details</h5>
				<button type="button" class="close" data-dismiss="modal" onclick="CloseApproveRejectModel();" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<section>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 py-4">
								<div class="tab-content" id="myTabContentSection">
									<div class="tab-pane fade active show" id="timeoff" role="tabpanel" aria-labelledby="timeoff-tab">
										<div class="row">
											<div class="col-lg-12">

												<div class="tab-pane fade active show">
													<div class="group-box anim">
														<div class="tabsInfo">
															<h3>Employee Info</h3>
															<div class="row">
																<div class="col-lg-4 col-md-4 mb-2">
																	<h6>Name</h6>
																	<p id="FullName"></p>
																</div>

																<div class="col-lg-4 col-md-4 mb-2">
																	<h6>Employee Number</h6>
																	<p id="EmployeeNumber"></p>
																</div>
																<div class="col-lg-4 col-md-4 mb-2">
																	<h6>Manager Name</h6>
																	<p id="ManagerName"></p>
																</div>
																<div class="col-lg-4 col-md-4 mb-2">
																	<h6>DOJ</h6>
																	<p id="EmployeeJoiningdate"></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="group-box anim">
					<div class="tabsInfo" id="">
						<h3>CompOff Info</h3>
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade active show" id="apply-compOff-tab" role="tabpanel" aria-labelledby="apply-compOff-tab1">
								<div class="row">
									<p class="showalert" style="color: red;font-size: 16px;" id="showalert"></p>
									<p class="showDocumentalert" style="color: red;font-size: 16px;" id="responseMessage"></p>
									<form class="body-text" method="post" enctype="multipart/form-data">
										<input type="hidden" id="employeeID" name="employeeID">
										<input type="hidden" id="compOffId" name="compOffId">
										<input type="hidden" id="attendanceId" name="attendanceId">
							
										<input type="hidden" id="status" name="status">

										<div class="DateFormatDiv" style="display: flex;">
											<div class="col-lg-3 px-4">
												<h6>Start Date</h6>
												<p id="StartDate"> </p>
											</div>
											<div class="col-lg-3 px-4">
												<h6>End Date</h6>
												<p id="EndDate"> </p>
											</div>
											<div class="col-lg-3 px-4">
												<h6>Work Date</h6>
												<p id="WorkDate"> </p>
											</div>
											
											<div class="col-lg-3 px-4">
												<h6>Worked Hours</h6>
												<p id="hoursWorked"> </p>
											</div>
										</div>
										<div class="DateFormatDiv" style="display: flex;">
											<div class="col-lg-12 px-4">
												<h6>Comment</h6>
												<p id="L1ManagerComment"> </p>
											</div>
										</div>
										<hr>
										<h3>Approval Comment</h3>
										<p><textarea class="form-control" id="ApproveRejectComment"></textarea></p>
										<p id="approverejectrequire" style="color: red;"></p>
										<div class="modal-footer">
											<button type="button" onclick="ApproveRejectcompOff(false)" class="btn btn-primary">Reject</button>
											<button type="button" id="approveButton" onclick="ApproveRejectcompOff(true)" class="btn btn-info">Approve</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="AttWorkDate" />
<input type="hidden" id="AttStartDate" />
<input type="hidden" id="AttEndDate" />
<script>
	 $(document).ready(function () {
		 ApprovalcompOffAutoReload();
		 //ApprovedcompOffAutoReload();

		 $("input[name='compOffStatus']").change(function () {
			 ApprovalcompOffAutoReload();
		 });

		 $("input[name='approvedcompOffStatus']").change(function () {
			 ApprovedcompOffAutoReload();
		 });
	 });

	 function ApprovedcompOffAutoReload() {
			 let tableId = '#tblcompOffForApproved';

		 let status = $("input[name='approvedcompOffStatus']:checked").val();
		 let url = '@(_configuration["AppSettings:RootUrl"])Employee/Attendance/GetManagerApprovedCompOff';
		 if ($.fn.DataTable.isDataTable(tableId)) {
		$(tableId).DataTable().clear().draw();
	}
		 RefreshTable12(tableId, url, status);
				 if (!$.fn.DataTable.isDataTable(tableId)) {
					 InittblcompOffForApproved();
				 }
	 }

	 //First Tab
	 function ApprovalcompOffAutoReload() {
	
		 let tableId = '#tblcompOffForApproval';
		 let status =1;
	
		 let url = '@(_configuration["AppSettings:RootUrl"])Employee/Attendance/GetApprovedCompOff';
		 RefreshTable12(tableId, url, status);
				 if (!$.fn.DataTable.isDataTable(tableId)) {
					 InitcompOffForApproval();
				 }
	 }
	 //First Tab load
	 function InitcompOffForApproval() {
		 $('#tblcompOffForApproval').DataTable({
			 ordering: true,
			 paging: true,
			 searching: true,
			 info: true,
			 responsive: true,
			 columns: [
				 { data: "employeeName", autoWidth: true },
				 {
					 data: "firstLogDate",
					 autoWidth: true,
					 render: formatDate
				 },
				 {
					 data: "lastLogDate",
					 autoWidth: true,
					 render: formatDate
				 },
				 {
					 data: "workDate",
					 autoWidth: true,
					 render: formatDate
				 },
				 { data: "hoursWorked", autoWidth: true },
				 { data: "attendanceStatus", autoWidth: true },
								 { data: "comments", autoWidth: true },

				 {
					 render: function (data, type, row) {
						 return `<a onclick="OpenApproveRejectModel(${row.userId}, ${row.id},${row.attendanceId}, '${row.firstLogDate}', '${row.lastLogDate}', '${row.attendanceStatus}','${row.workDate}','${row.hoursWorked}','${row.comments}')" href="#" title="Approve">
									 <img src="/assets/img/view.webp" width="23" height="23" alt="Approve" />
								 </a>`;
					 }
				 }
			 ]
		 });
	 }
	 //First Tab Table load
	function RefreshTable12(tableId, urlData, status) {
		 $.ajax({
			 url: urlData,
			 type: 'POST',
			 contentType: 'application/json',
			 data: JSON.stringify({ compOffStatus: parseInt(status) }),
			 success: function (json) {
				 let table = $(tableId).dataTable();
				 let oSettings = table.fnSettings();

				 table.fnClearTable();

				 for (var i = 0; i < json.data.length; i++) {
					 table.oApi._fnAddData(oSettings, json.data[i]);
				 }

				 oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
				 table.fnDraw();
			 },
			 error: function (xhr, status, error) {
				 console.error("Error in RefreshTable12:", error);
			 }
		 });
	 }

	 //second tab

	 function compOffForApproved() {

				 let tableId = '#tblcompOffForApproved';			 
		 let status =2;
		 let url = '@(_configuration["AppSettings:RootUrl"])Employee/Attendance/GetApprovedCompOff';
		 if ($.fn.DataTable.isDataTable(tableId)) {
		$(tableId).DataTable().clear().draw();
	}
			 RefreshTable12(tableId, url, status);
				 if (!$.fn.DataTable.isDataTable(tableId)) {
					 InittblcompOffForApproved();
				 }
	 }


		 //Third  tab reject compOff

	 function compOffForReject() {
		 let status =3;
				 let tableId = '#tblcompOffForReject';
		 let url = '@(_configuration["AppSettings:RootUrl"])Employee/Attendance/GetApprovedCompOff';
			 RefreshTable12(tableId, url, status);
				 if (!$.fn.DataTable.isDataTable(tableId)) {
					 InittblcompOffForReject();
				 }
	 }
	  $("input[name='compOffRejectStatus']").change(function () {
			 compOffForReject();
		 });
	 function InittblcompOffForReject() {
		 $('#tblcompOffForReject').DataTable({
			 ordering: true,
			 paging: true,
			 searching: true,
			 info: true,
			 responsive: true,
			 columns: [
				 { data: "employeeName", autoWidth: true },
				 {
					 data: "firstLogDate",
					 autoWidth: true,
					 render: formatDate
				 },
				 {
					 data: "lastLogDate",
					 autoWidth: true,
					 render: formatDate
				 },
				 {
					 data: "workDate",
					 autoWidth: true,
					 render: formatDate
				 },
				 { data: "hoursWorked", autoWidth: true },
				 { data: "attendanceStatus", autoWidth: true },
				 { data: "comments", autoWidth: true },

			 ]
		 });
	 }


	 function formatDate(dateString) {
		 const date = new Date(dateString);
		 const monthNames = [
			 "January", "February", "March", "April", "May", "June",
			 "July", "August", "September", "October", "November", "December"
		 ];
		 const day = date.getDate();
		 const month = date.getMonth()+1;
		 const year = date.getFullYear();
		 let hours = date.getHours();
		 let minutes = date.getMinutes();
		 const ampm = hours >= 12 ? 'PM' : 'AM';
		 hours = hours % 12 || 12;
		 minutes = minutes < 10 ? '0' + minutes : minutes;
		 return `${day}/${month}/${year} ${hours}:${minutes} ${ampm}`;
	 }

	 function RefreshTable(tableId, url) {

		 $.post(url, function (json) {
			 if (json.data && json.data) {
				 const table = $(tableId).DataTable();
				 table.clear();
				 table.rows.add(json.data).draw();
			 }
		 });
	 }

		 function ApproveRejectcompOff(isApproved) {

		const ApproveRejectComment = $("#ApproveRejectComment").val();

			if (ApproveRejectComment === "") {
				$("#approverejectrequire").text('Comment required');
				// Re-enable both buttons and reset text
				approveButton.prop('disabled', false);
				rejectButton.prop('disabled', false);
				approveButton.text('Approve');
				rejectButton.text('Reject');
				return;
			}

		const approveButton = $("#approveButton");  // Approve button
		const rejectButton = $(".btn-primary");    // Reject button (using class to select)

		const actionText = isApproved ? "approve" : "reject";

		// Disable both buttons and change text of the clicked button
		approveButton.prop('disabled', true);
		rejectButton.prop('disabled', true);

		// Change text to 'Processing...' for the clicked button
		if (isApproved) {
			approveButton.text('Processing...');
		} else {
			rejectButton.text('Processing...');
		}

		// Show confirmation dialog
		if (confirm(`Are you sure you want to ${actionText} this compOff request?`)) {
			const employeeID = $("#employeeID").val();

			const data = {
				compOffId: $("#compOffId").val(),
				attendanceId: $("#attendanceId").val(),
				employeeID,
				status: $("#status").val(),
				ApproveRejectComment,
				startDate: $("#AttStartDate").val(),
				endDate: $("#AttEndDate").val(),
				workDate: $("#AttWorkDate").val(),
				
				actionText: actionText
			};

			$.post('/Employee/Attendance/ApproveRejectCompOff/', data, function (json) {
				console.log(json);
				if (json && json.message) {
					if (json.success) {
						showToast(json.message);
						CloseApproveRejectModel();
					setTimeout(function () {
				window.location.reload();
			}, 2000);
						$("#ApproveRejectComment").val("");
					} else {
						$("#approverejectrequire").text(json.message);
						window.location.reload();
						CloseApproveRejectModel();
					}
				} else {
					showToast("compOff status updated.");
					$("#ApproveRejectComment").val("");
				}

				// Re-enable both buttons and reset text after the request completes
				approveButton.prop('disabled', false);
				rejectButton.prop('disabled', false);
				approveButton.text('Approve');
				rejectButton.text('Reject');
			});
		} else {
			// Re-enable both buttons and reset text if the user cancels
			approveButton.prop('disabled', false);
			rejectButton.prop('disabled', false);
			approveButton.text('Approve');
			rejectButton.text('Reject');
		}
	}


	 function showToast(message) {
		 $.toast({
			 heading: 'Success',
			 text: message,
			 showHideTransition: 'slide',
			 icon: 'success',
			 position: 'top-right',
		 });
	 }

	 function OpenApproveRejectModel(employeeID, Id,attendanceId, firstLogDate, lastLogDate, attendanceStatus, workDate,hoursWorked,comments) {

		 $("#employeeID").val(employeeID);
		 $("#compOffId").val(Id);
		 $("#attendanceId").val(attendanceId);
		 $("#status").val(attendanceStatus);
		 $("#AttWorkDate").val(workDate);
		 $("#AttStartDate").val(firstLogDate);
		 $("#AttEndDate").val(lastLogDate);
		 $("#WorkDate").text(formatDate(workDate));
		 $("#hoursWorked").text(hoursWorked);
		 $("#L1ManagerComment").text(comments);
		

		 $.ajax({
			 url: '/employee/Attendance/GetEmployeeAttendanceShiftDetails',
			 type: 'GET',
			 data: { employeeID, Id },
			 success: function (response) {
				 $("#FullName").text(response.fullName);
				 $("#EmployeeNumber").text(response.employeeNumber);
				 $("#ManagerName").text(response.managerName);
				 $("#EmployeeJoiningdate").text(response.employeeJoiningdate);
				 $("#StartDate").text(formatDate(firstLogDate));
				 $("#EndDate").text(formatDate(lastLogDate));				
			 },
			 error: function (xhr) {
				 $('#responseMessage').text('Error: ' + xhr.responseText);
			 }
		 });

		 $('#ApproveRejectModel').modal('show');
	 }

	 function CloseApproveRejectModel() {
		 $('#ApproveRejectModel').modal('hide');
	 }



	 function InittblcompOffForApproved() {
	 $('#tblcompOffForApproved').DataTable({
			 ordering: true,
			 paging: true,
			 searching: true,
			 info: true,
			 responsive: true,
			 columns: [
				 { data: "employeeName", autoWidth: true },
				 {
					 data: "firstLogDate",
					 autoWidth: true,
					 render: formatDate
				 },
				 {
					 data: "lastLogDate",
					 autoWidth: true,
					 render: formatDate
				 },
				 {
					 data: "workDate",
					 autoWidth: true,
					 render: formatDate
				 },
				 { data: "hoursWorked", autoWidth: true },
				 { data: "attendanceStatus", autoWidth: true },
								 { data: "comments", autoWidth: true },


			 ]
		 });
	 }

	 function RefreshTable2(tableId, url) {
		 $.post(url, function (json) {
			 if (json.data && json.data.compOffs) {
				 const table = $(tableId).DataTable();
				 table.clear();
				 table.rows.add(json.data.compOffs).draw();
			 }
		 });
	 }
</script>
