@using HRMS.Models.Employee;
@model EmployeeModel
@{
    int Index = 0;
}


<div class="row">
    <div class="col-md-1">
        <b>SNo</b>
    </div>

    <div class="col-md-2">
        <b>School/University</b>
    </div>

    <div class="col-md-2">
        <b>Qualification (Degree/Deploma)</b>
    </div>

    <div class="col-md-1">
        <b>Year of Passing</b>
    </div>

    <div class="col-md-2">
        <b>Class/ Percentage</b>
    </div>
    <div class="col-md-3">
        <b>Mazor/Optional Subjects</b>
    </div>
    <div class="col-md-1">
        <b>Delete</b>
    </div>
</div>
@{
    int index = 1;
}
@foreach (var familyDetail in Model.EducationalDetails)
{

    var delete = (index.ToString()) + "EducationalDetailsDelete";


    <div class="row" id="@(delete)">
        <div class="col-md-1">
            @(index).
        </div>
        <div class="col-md-2">

            @Html.HiddenFor(m => m.EducationalDetails[Index].EducationDetailID)
            @Html.TextBoxFor(a => a.EducationalDetails[Index].School_University, new { @class = "form-control EducationalDetails", @required = "required" })



        </div>

        <div class="col-md-2">
            @Html.TextBoxFor(a => a.EducationalDetails[Index].Qualification, new { @class = "form-control", @required = "required" })
           

        </div>

        <div class="col-md-1">

            @Html.TextBoxFor(a => a.EducationalDetails[Index].YearOfPassing, new { @class = "form-control", @required = "required" })
           

        </div>

        <div class="col-md-2">
            @Html.TextBoxFor(a => a.EducationalDetails[Index].Percentage, new { @class = "form-control" })
           
        </div>

        <div class="col-md-3">
            @Html.TextBoxFor(a => a.EducationalDetails[Index].Major_OptionalSubjects, new { @class = "form-control" })

        </div>

        <div class="col-md-1">
            <a onclick="deleteEducationalDetails('@(delete)')"><img style="width:20px; height:auto;" src="~/assets/img/delete.png" /></a>
        </div>
    </div>
    Index++;
    index++;
}

<script type="text/javascript">
    function deleteEducationalDetails(Id) {        
        $("#" + Id).remove();
        AddNewEducation(true);
    }
</script>