@model HRMS.Models.Common.ChangePasswordModel
@{
    Layout = null;
    var error = ViewBag.Error;
    var success = ViewBag.Success;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>HRMS-Error Page</title>
    <link href="@Url.Content("~/assets/css/font-awesome.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" media="all">
    @* <link href="@Url.Content("~/assets/css/theme.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/assets/css/custom.css")" rel="stylesheet" media="all"> *@
    <link href="@Url.Content("~/assets/css/jquery.notifyBar.css")" rel="stylesheet" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @*     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HRMS.Web.styles.css" asp-append-version="true" /> *@
    @* <link href="~/assets/css/theme.css" rel="stylesheet" /> *@
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="/css/login.css" rel="stylesheet" media="all" />
    <style>

        </style>
</head>

<body class="login-bg">
    <div class="container text-center" id="container"> 
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <a class="app-brand-link gap-2 mb-3 d-inline-block">
                        <span class="app-brand-logo demo">
                            <img src="~/assets/img/logo/PROTALKLOGO.png" height="80" />
                        </span>
                    </a>
                <h1 class="text-danger">Oops! Something Went Wrong</h1>
                <p class="lead mt-3">
                    We're sorry, but an unexpected error has occurred.
                </p>
                    <a href="~/Home/Index" class="btn btn-primary mt-4">
                        Go to Home
                    </a>
                </div>
            </div> 
    </div>

     
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    @Html.Partial("_Toast")
</body>

</html>