@model HRMS.Models.Common.ResetPasswordModel
@{
	Layout = null;
	var error = ViewBag.Error;
	var success = ViewBag.Success;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>HRMS- Reset password</title>
	<!-- Favicon -->
	<link type="image/x-icon" href="/assets/img/favicon/Protalkfavicon.ico" rel="shortcut icon">
	<link href="@Url.Content("~/assets/css/font-awesome.min.css")" rel="stylesheet" media="all">
	<link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" media="all">
	<link href="@Url.Content("~/css/login.css")" rel="stylesheet" media="all">
	<link href="@Url.Content("~/assets/css/jquery.notifyBar.css")" rel="stylesheet" />
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link href="/css/login.css" rel="stylesheet" media="all" />
	<style>
		label.LabelUserName {
			margin-top: 18px;
			font-size: 16px;
			font-weight: 800;
		}

		.UserTitle {
			display: flex;
			gap: 9px;
		}

		span.field-validation-error {
			color: red;
			font-size: 12px;
		}
	</style>
</head>

<body class="login-bg">

	<div class="container" id="container">
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<a class="app-brand-link gap-2">
						<span class="app-brand-logo demo">
							@if (Model != null)
							{
								if (Model.CompanyLogo != null)
								{
									<img src="@Model.CompanyLogo" />
								}
								else
								{
									<img src="~/assets/img/logo/PROTALKLOGO.png" />
								}
							}
							else
							{
								<img src="~/assets/img/logo/PROTALKLOGO.png" />
							}
						</span>
					</a>
					<h1>
						Welcome to <br />
						<span>Protalk HRMS!</span>
					</h1>
				</div>
			</div>
		</div>

		<div class="form-container sign-in-container">
			@if ((TempData[HRMS.Models.Common.Constants.IsLinkExpired] == null ? false : Convert.ToBoolean(TempData[HRMS.Models.Common.Constants.IsLinkExpired])) == false)
			{
				@using (Html.BeginForm("ResetPassword", "home", FormMethod.Post, new { @id = "ResetPasswordForm" , autocomplete = "off" }))
				{
					 
						<h2 class="mb-4">Reset Password?</h2>
						@Html.HiddenFor(x => x.dt)
						@Html.HiddenFor(x => x.EmployeeID)
						@Html.HiddenFor(x => x.UserID)
						@Html.HiddenFor(x => x.CompanyID)
						@Html.HiddenFor(x => x.UserName)
						@Html.HiddenFor(x => x.CompanyLogo)
						<div class="UserTitle">
							<label class="LabelUserName">UserName:</label>
						@Html.TextBoxFor(a => a.UserName, new { @class = "form-control", @placeholder = "User ID", @readonly = "readonly" })
						</div>
						@Html.PasswordFor(a => a.Password, new { @class = "form-control", @placeholder = "New Password" })
						@Html.ValidationMessageFor(m => m.Password)

						@*  <label>Confirm New Password</label> *@

						@Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm New Password" })
						@Html.ValidationMessageFor(m => m.ConfirmPassword)


						@Html.HiddenFor(a => a.UserID)
						<button class="btn d-grid w-100 mt-4 submitBtn" type="submit">Change Password</button>
						@* <a href="@Url.Action("index", "home")">Back To Login</a> *@
					 
				}
			}
		</div>
	</div>
	 
	<!-- Jquery JS-->
	<script src="~/assets/js/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap JS-->
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

	<script src="~/assets/js/jquery.notifyBar.js"></script>
	@Html.Partial("_Toast")
</body>

</html>