@model HRMS.Models.Common.ResetPasswordModel
@{
    Layout = null;
    var error = ViewBag.Error;
    var success = ViewBag.Success;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>CRM- Reset password</title>
    <link href="@Url.Content("~/assets/css/font-awesome.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" media="all">
    @* <link href="@Url.Content("~/assets/css/theme.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/assets/css/custom.css")" rel="stylesheet" media="all"> *@
    <link href="@Url.Content("~/assets/css/jquery.notifyBar.css")" rel="stylesheet" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @*     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HRMS.Web.styles.css" asp-append-version="true" /> *@
    @* <link href="~/assets/css/theme.css" rel="stylesheet" /> *@
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="/css/login.css" rel="stylesheet" media="all" />
    <style>
       /*  .login-bg {
            background-image: url(../assets/img/bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .submitBtn {
            border: 1px solid var(--body-bg);
            background-color: var(--body-bg);
            color: var(--white-text-color);
            font-size: 12px;
            font-weight: bold;
            padding: 5px 40px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
        } */
    </style>
</head>

<body class="login-bg">

    <div class="container" id="container">
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <a class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">
                            <img src="~/assets/img/logo/logo-large.png" height="80" />
                        </span>
                    </a>
                    <h1>
                        Welcome to <br />
                        <span>HRMS!</span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="form-container sign-in-container">
            @if ((TempData[HRMS.Models.Common.Constants.IsLinkExpired] == null ? false : Convert.ToBoolean(TempData[HRMS.Models.Common.Constants.IsLinkExpired])) == false)
            {
                @using (Html.BeginForm("ResetPassword", "home", FormMethod.Post, new { @id = "ResetPasswordForm", @onsubmit = "showLoader(this);", autocomplete = "off" }))
                {
                    
                        <form action="" method="post">
                        <h2 class="mb-4">Reset Password?</h2>
                            @Html.HiddenFor(x => x.dt)
                            @Html.HiddenFor(x => x.EmployeeID)
                            @Html.HiddenFor(x => x.UserID)
                            @Html.HiddenFor(x => x.CompanyID)
                           
                                @* <label>New Password</label> *@

                            @Html.PasswordFor(a => a.Password, new { @class = "form-control", @placeholder = "New Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            
                               @*  <label>Confirm New Password</label> *@

                            @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm New Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                      

                            @Html.HiddenFor(a => a.UserID)
                        <button class="btn d-grid w-100 mt-4 submitBtn" type="submit">Change Password</button>
                            <a href="@Url.Action("index", "home")">Back To Login</a>
                        </form>
                    

                }
            }
        </div>
    </div>


    @* <div class="page-content">
        <div class="container login_container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="@Url.Content("~/assets/img/logo/logo-large.png")" style="height:80px" alt="Logo">


                        </a>
                    </div>

                    @if ((TempData[HRMS.Models.Common.Constants.IsLinkExpired] == null ? false : Convert.ToBoolean(TempData[HRMS.Models.Common.Constants.IsLinkExpired])) == false)
                    {
                        @using (Html.BeginForm("ResetPassword", "home", FormMethod.Post, new { @id = "ResetPasswordForm", @onsubmit = "showLoader(this);", autocomplete = "off" }))
                        {
                            <div class="login-form">
                                <form action="" method="post">
                                    @Html.HiddenFor(x => x.dt)
                                    @Html.HiddenFor(x => x.EmployeeID)
                                    @Html.HiddenFor(x => x.UserID)
                                    <div class="form-group">
                                        <label>New Password</label>

                                        @Html.PasswordFor(a => a.Password, new { @class = "el-input el-input--full" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm New Password</label>

                                        @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "el-input el-input--full" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </div>

                                    @Html.HiddenFor(a => a.UserID)
                                    <button class="el-btn login_btn m-b-20 submitBtn" type="submit">Change Password</button>
                                    <a href="@Url.Action("index", "home")">Back To Login</a>
                                </form>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </div> *@

    <!-- Jquery JS-->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->

    <script src="~/assets/js/jquery.notifyBar.js"></script>
    @Html.Partial("_Toast")
</body>

</html>