@using HRMS.Models
@using HRMS.Models.Common
@using HRMS.Models.Employee
@model PolicyCategoryModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Leave Policy";
}

<div class="main-header anim" style="--delay: 0s">  Policy Category</div>
<form id="leaveForm" method="post" enctype="multipart/form-data">

    <div class="Container">

        <div class="group-box anim" style="--delay: .3s">
            @Html.HiddenFor(x => x.Companies)
            <input type="hidden" name="Id" value="@Model.Id">

            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Company <span class="Mandetory">*</span></label>
                    @Html.DropDownList("CompanyID", new SelectList(Model.Companies, "CompanyID", "Name"), " -- Select Company -- ", new { @class = "form-control", placeholder = "" })
                </div>
                <div class="col-md-6 form-group">
                    <label>Title <span class="Mandetory">*</span></label>
                    @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <input type="submit" value="Submit" class="btn btn-success" />
                <input id="cancelButton" type="button" value="Cancel" class="btn btn-danger" />

            </div>
            
        </div>
    </div>
</form>


<script>
    document.getElementById('cancelButton').addEventListener('click', function () {
        window.location.href = '@Url.Action("PolicyCategoryListing", "LeavePolicy")';
    });

</script>

