@using HRMS.Models.AttendenceList;
@model AttendenceListModel
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Attendence List";

}
<form method="post" enctype="multipart/form-data">
	<div class="Container">

		<div class="col-md-12" style="background-color: #a7b5ce; padding: 5px;padding-left: 10px;">
			<label class="form-label">Attendence List</label>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="col-md-12">
					Series <label class="Mandetory">*</label>
				</div>
				<div class="col-md-12">
					@Html.HiddenFor(x => x.ID)
					@Html.TextBoxFor(a => a.Series, new { @class = "form-control", @required = "required" })

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-12">
				AttendenceDate <label class="Mandetory">*</label>

			</div>

			<div class="col-md-12">

				@Html.TextBoxFor(a => a.AttendenceDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = "required" })
			</div>
		</div>

	</div>
	<div class="col-md-4">
		<div class="col-md-12">
			Employee <label class="Mandetory">*</label>
		</div>
		<div class="col-md-12">
			@Html.DropDownListFor(x => x.EmployeeID, Model.Employeelist, HRMS.Models.Common.Constants.SelectEmployee, new { @class = "form-control", @required = "required" })
		</div>
	</div>
	@* </div>


	<div class="row"> *@
		<div class="col-md-4">
			<div class="col-md-12">
				Status <label class="Mandetory">*</label>
			</div>
			<div class="col-md-12">
				@Html.DropDownListFor(model => model.SelectedStatus, Model.StatusList, "-- Select Status --", new { @class = "form-control" })

			</div>
		</div>

		<div class="col-md-4">
			<div class="col-md-12">
				Shift Selection
			</div>
			<div class="col-md-12">
				@Html.DropDownListFor(model => model.SelectedShift, Model.ShiftList, " -- Select Shift --", new { @class = "form-control" })

			</div>
		</div>



		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<div class="col-md-12">
						LateEntry <label class="Mandetory">*</label>
					</div>
					<div class="col-md-12">

						@Html.CheckBoxFor(a => a.LateEntry)
					</div>
				</div>


				<div class="col-md-6">
					<div class="col-md-12">
						EarlyExit <label class="Mandetory">*</label>
					</div>
					<div class="col-md-12">

						@Html.CheckBoxFor(a => a.EarlyExit)
					</div>
				</div>
				<div class="row">
					&nbsp;
				</div>
				<div class="row">
					<div class="col-md-12">
						<input style="float:right" type="submit" value="Submit" class="btn btn-success" />
						<input id="cancelButton" style="float:right; margin:0 16px;" type="button" value="Cancel" class="btn btn-success" />
					</div>
				</div>

			</div>
		</div>
	</div>
</form>