@using HRMS.Models;
@model HolidayModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Holiday";
}<div class="main-header anim" style="--delay: 0s">  Holiday Details</div>
<form method="post" id="submitForm" enctype="multipart/form-data">

    <div class="group-box anim" style="--delay: .3s">
        <div class="Container">
             <div class="row">
                <div class="col-md-4 form-group">
                    <div class="col-md-12">
                        From Date<label class="Mandetory">*</label>
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(a => a.FromDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = "required" })
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <div class="col-md-12">
                        To Date<label class="Mandetory">*</label>
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(a => a.ToDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = "required" })
                    </div>
                </div>
           
                <div class="col-md-4 form-group">
                    <div class="col-md-12">
                        Holiday Name <label class="Mandetory">*</label>
                    </div>
                    <div class="col-md-12">
                        @Html.HiddenFor(x => x.HolidayID)
                        @Html.TextBoxFor(a => a.HolidayName, new { @class = "form-control", @required = "required" })

                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <div class="col-md-12">
                        Description<label class="Mandetory">*</label>
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(a => a.Description, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <div class="col-md-12">
                        Location <label class="Mandetory">*</label>
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownListFor(a => a.JobLocationTypeID, Model.JobLocationList, "-- Select Location --", new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <div class="col-md-12">
                        Status<label></label>
                    </div>
                    <div class="col-md-12">
                        @Html.CheckBoxFor(a => a.Status)
                    </div>
                </div>
               
            </div>
        </div>
   </div>
    <div class="row">
        <div class="col-md-12">
            <input   id="submitBtn" type="submit" value="Submit" class="btn btn-success" />
            <input id="cancelButton" style=" margin-right:10px;" type="button" value="Cancel" class="btn btn-danger" />
        </div>

    </div>
</form>

<script>

    document.getElementById('cancelButton').addEventListener('click', function () {
        window.location.href = '@Url.Action("HolidayListing", "Holiday")';
    });
</script>
