<!DOCTYPE html>
<html lang="en">
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
 @inject HRMS.Web.BusinessLayer.IBusinessLayer _businessLayer
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @using HRMS.Models.Common
    @using Microsoft.AspNetCore.Http
@{
	var Logo = this.HttpContextAccessor.HttpContext.Session.GetString(Constants.CompanyLogo);
	var RoleName = Convert.ToInt64(this.Context.Session.GetString(Constants.RoleID));
	//var Photo = this.HttpContextAccessor.HttpContext.Session.GetString(Constants.ProfilePhoto);
	var EmployeeNumber = this.HttpContextAccessor.HttpContext.Session.GetString(Constants.EmployeeNumber);

}

<head>
	<!-- Character encoding for UTF-8 -->
	<meta charset="UTF-8">
	<!-- Viewport settings for responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Title of the webpage -->
	<!-- Bootstrap CSS file -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
	<!-- Favicon for the webpage -->

	<link type="image/x-icon" href="/assets/img/favicon/Protalkfavicon.ico" rel="shortcut icon">

	<title>@ViewData["Title"] - HRMS.Web  </title>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="@Url.Content("~/assets/js/datatables.js")"></script>
	<script src="~/assets/js/jquery.toast.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
	<link href="~/assets/css/custom.css" rel="stylesheet" />
	<link href="~/assets/css/datatables.bootstrap.css" rel="stylesheet" />
	<link href="~/css/jquery.toast.css" rel="stylesheet" />




</head>

<body>
	<div class="custome-container">
		@await Component.InvokeAsync("Menu")
		<div class="wrapper">
			<button class="toggleBtn" type="button">
				<svg width="20px" height="20px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">

					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
						<g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-258.000000, -1089.000000)" fill="#fff">
							<path d="M281,1106 L270.414,1106 L274.536,1110.12 C274.926,1110.51 274.926,1111.15 274.536,1111.54 C274.145,1111.93 273.512,1111.93 273.121,1111.54 L267.464,1105.88 C267.225,1105.64 267.15,1105.31 267.205,1105 C267.15,1104.69 267.225,1104.36 267.464,1104.12 L273.121,1098.46 C273.512,1098.07 274.145,1098.07 274.536,1098.46 C274.926,1098.86 274.926,1099.49 274.536,1099.88 L270.414,1104 L281,1104 C281.552,1104 282,1104.45 282,1105 C282,1105.55 281.552,1106 281,1106 L281,1106 Z M274,1089 C265.164,1089 258,1096.16 258,1105 C258,1113.84 265.164,1121 274,1121 C282.836,1121 290,1113.84 290,1105 C290,1096.16 282.836,1089 274,1089 L274,1089 Z" id="arrow-left-circle" sketch:type="MSShapeGroup">

							</path>
						</g>
					</g>
				</svg>
			</button>

			<div class="header">


				<div class="nav-toggle">
					<a class="btn--toggle nav-link" href="#" data-target="#collapse">
						<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4 12H20M4 8H20M4 16H12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</a>
				</div>

				<div class="nav-collapse">
					@await Component.InvokeAsync("TopMenuBar")
				</div>

				@*  <div class="search-bar">
                    <input type="text" placeholder="Search">
                </div> *@
				<div class="user-settings dropdown">
					<a class="nav-link dropdown-toggle toggle-change" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
						<img class="user-img" src="@_businessLayer.GetProfilePhoto()" onerror="this.onerror=null; this.src='@(HRMS.Models.Common.Constants.NoImagePath)'" alt="" style="width:40px; height:40px;">
						<div class="user-name">@HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.FirstName) @HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.Surname) (@EmployeeNumber)</div>
						<svg viewBox="0 0 492 492" fill="currentColor">
							<path d="M484.13 124.99l-16.11-16.23a26.72 26.72 0 00-19.04-7.86c-7.2 0-13.96 2.79-19.03 7.86L246.1 292.6 62.06 108.55c-5.07-5.06-11.82-7.85-19.03-7.85s-13.97 2.79-19.04 7.85L7.87 124.68a26.94 26.94 0 000 38.06l219.14 219.93c5.06 5.06 11.81 8.63 19.08 8.63h.09c7.2 0 13.96-3.57 19.02-8.63l218.93-219.33A27.18 27.18 0 00492 144.1c0-7.2-2.8-14.06-7.87-19.12z"></path>
						</svg>
					</a>

					<div class="dropdown-menu" aria-labelledby="navbarDropdown" data-bs-popper="none">
						<div class="dropdown-item">
							<div class="d-flex py-2">
								<div class="avatar avatar-md avatar-indicators avatar-online">
									<img alt="avatar" src="@_businessLayer.GetProfilePhoto()" onerror="this.onerror=null; this.src='@(HRMS.Models.Common.Constants.NoImagePath)'"
										 style="width:40px; height:40px;" class="rounded-circle">
								</div>
								<div class="ml-3 lh-1">
									<h6 class="mb-0">@HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.FirstName) @HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.Surname) (@EmployeeNumber)</h6>
									<p class="mb-0">@HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.OfficialEmailID)</p>
								</div>
							</div>
						</div>
						<div class="dropdown-divider"></div>
						<div class="">
							<ul class="list-unstyled">

								<li>
									<a class="dropdown-item" href="~/employee/myinfo/index">
										<span class="mr-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
												<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
												<circle cx="12" cy="7" r="4"></circle>
											</svg>
										</span>
										Profile
									</a>
								</li>
								@* <li>
									<a class="dropdown-item" href="~/Home/ChangePassword">
										<span class="mr-2">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
												<circle cx="12" cy="12" r="3"></circle>
												<path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
											</svg>
										</span>
										ChangePassword
									</a>
								</li> *@
							</ul>
						</div>
						<div class="dropdown-divider"></div>
						<ul class="list-unstyled">
							<li>
								<a class="dropdown-item" href="~/Home/Logout">
									<span class="mr-2">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power">
											<path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
											<line x1="12" y1="2" x2="12" y2="12"></line>
										</svg>
									</span>
									Sign Out
								</a>
							</li>
						</ul>
					</div>
				</div>
				@* <div class="notify">
                    <div class="notification"></div>
                    <svg viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.707 8.796c0 1.256.332 1.997 1.063 2.85.553.628.73 1.435.73 2.31 0 .874-.287 1.704-.863 2.378a4.537 4.537 0 01-2.9 1.413c-1.571.134-3.143.247-4.736.247-1.595 0-3.166-.068-4.737-.247a4.532 4.532 0 01-2.9-1.413 3.616 3.616 0 01-.864-2.378c0-.875.178-1.682.73-2.31.754-.854 1.064-1.594 1.064-2.85V8.37c0-1.682.42-2.781 1.283-3.858C7.861 2.942 9.919 2 11.956 2h.09c2.08 0 4.204.987 5.466 2.625.82 1.054 1.195 2.108 1.195 3.745v.426zM9.074 20.061c0-.504.462-.734.89-.833.5-.106 3.545-.106 4.045 0 .428.099.89.33.89.833-.025.48-.306.904-.695 1.174a3.635 3.635 0 01-1.713.731 3.795 3.795 0 01-1.008 0 3.618 3.618 0 01-1.714-.732c-.39-.269-.67-.694-.695-1.173z"></path>
                    </svg>
                </div> *@
			</div>

			<div class="main-container">
				@RenderBody()
			</div>
		</div>
	</div>



	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const links = document.querySelectorAll('.sidebar-link');
			const currentPath = window.location.pathname.toLowerCase();

			links.forEach(link => {
				const href = link.getAttribute('href')?.toLowerCase();

				if (href && href === currentPath) {
					link.classList.add('is-active');
				}
			});
		});

			  document.addEventListener('DOMContentLoaded', function () {
			const links = document.querySelectorAll('.nav-link');
			const currentPath = window.location.pathname.toLowerCase();

			links.forEach(link => {
				const href = link.getAttribute('href')?.toLowerCase();
				if (href && href === currentPath) {
					link.classList.add('is-active');
					// Optional: add active class to parent <li> too
					link.closest('.nav-list__item')?.classList.add('is-active');
				}
			});
		});
	</script>


	<script>
		// document.addEventListener("DOMContentLoaded", function () {
		// 	const links = document.querySelectorAll('.sidebar-link');
		// 	const savedActiveIndex = localStorage.getItem('activeLinkIndex');
		// 	localStorage.setItem('activeLinkIndex', '');

		// 	if (savedActiveIndex) {
		// 		links[savedActiveIndex].classList.add('active');
		// 	} else {
		// 		if (links.length > 0) {
		// 			links[0].classList.add('active');
		// 		}
		// 	}
		// 	links.forEach(function (link, index) {
		// 		link.addEventListener('click', function () {
		// 			if (link.classList.contains('active')) {
		// 				return;
		// 			}
		// 			links.forEach(function (link) {
		// 				link.classList.remove('active');
		// 			});
		// 			link.classList.add('active');
		// 			localStorage.setItem('activeLinkIndex', index);
		// 		});
		// 	});
		// }); 
		$(window)
			.resize(function () {
				if ($(window).width() > 1090) {
					$(".sidebar").removeClass("sidemenuShow");
				} else {
					$(".sidebar").addClass("sidemenuShow");
				}
			})
			.resize();
	</script>
	<script>
		$(function () {
			$('.toggleBtn').click(function () { // when a .myDiv is clicked
				$('.sidebar').toggleClass('sidemenuShow')
			})
		})
		  document.addEventListener('DOMContentLoaded', function () {
			const links = document.querySelectorAll('.nav-link');
			const currentPath = window.location.pathname.toLowerCase();

			links.forEach(link => {
				const href = link.getAttribute('href')?.toLowerCase();
				if (href && href === currentPath) {
					link.classList.add('is-active');
					// Optional: add active class to parent <li> too
					link.closest('.nav-list__item')?.classList.add('is-active');
				}
			});
		});
	</script>

	<script>
		$(function () {
			$btnToggle = $('.btn--toggle');
			$submenuTrigger = $('.submenu--trigger');
			$thirdSubmenuTrigger = $('.third-submenu--trigger');

			$btnToggle.on('click', function (e) {
				// e.preventDefault();
				let $target = $($(e.currentTarget).attr('data-target'));
				$target.toggleClass('showing');
			});


			$submenuTrigger.on('click', function (e) {
				e.preventDefault();
				$(this).toggleClass('active');
			});

			$thirdSubmenuTrigger.on('click', function (e) {
				e.preventDefault();
				e.stopPropagation();
				$(this).toggleClass('active');
			})






		});
	</script>


	@Html.Partial("_Toast")

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
