@using HRMS.Models.Company;
@model CompanyModel
@{
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Employee";
    var CompanyLogo = "";
    if (!string.IsNullOrEmpty(Model.CompanyLogo))
    {
        CompanyLogo = "/" + HRMS.Models.Common.Constants.CompanyLogoPath + Model.CompanyID + "/" + Model.CompanyLogo;
    }
    else
    {
        CompanyLogo = HRMS.Models.Common.Constants.NoImagePath;
    }
}

<div class="main-header anim" style="--delay: 0s">New Company</div>
<form method="post" enctype="multipart/form-data">
    <div class="Container">

        <div class="group-box anim" style="--delay: .3s">
            <div class="small-header">Company Details</div>
            @* <div class="col-md-12" style="background-color: #a7b5ce; padding: 5px;padding-left: 10px;">
                <label class="form-label"> </label>
            </div> *@

            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Company Name <span class="Mandetory">*</span></label>
                    @Html.HiddenFor(x => x.CompanyID)
                    @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @required = "required" })
                </div>

                <div class="col-md-4 form-group">
                    <label>Default Letter Head <span class="Mandetory">*</span></label>
                    @Html.TextBoxFor(a => a.DefaultLetterHead, new { @class = "form-control", @required = "required" })
                </div>


                <div class="col-md-4 form-group">
                    <label>Company Abbreviation Name <span class="Mandetory">*</span></label>
                    @Html.TextBoxFor(a => a.Abbr, new { @class = "form-control", @required = "required" })
                </div>

                <div class="col-md-4 form-group">
                    <label>Company Logo</label>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4">
                            <img src="@CompanyLogo" onerror="this.onerror=null; this.src='@(HRMS.Models.Common.Constants.NoImagePath)'" style="width:100px; height:100px" />
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="postedFiles" accept="image/*" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 form-group">
                    <label>TaxID<span class="Mandetory">*</span></label>
                    @Html.TextBoxFor(a => a.TaxID, new { @class = "form-control", @required = "required" })
                </div>

                <div class="col-md-4 form-group">
                    <label>Domain<span class="Mandetory">*</span></label>
                    @Html.TextBoxFor(a => a.Domain, new { @class = "form-control", @required = "required" })
                </div>

                <div class="col-md-4 form-group">
                    <label>Date of establishment<span class="Mandetory">*</span></label>
                    @Html.TextBoxFor(a => a.DateOfEstablished, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = "required" })
                </div>


                <div class="col-md-4 form-group">
                    <label>Country<span class="Mandetory">*</span></label>
                    @Html.DropDownListFor(x => x.CountryID, Model.Countries, HRMS.Models.Common.Constants.SelectCountry, new { @class = "form-control", @required = "required" })
                </div>

                <div class="col-md-4 form-group">
                    <label>Currency<span class="Mandetory">*</span></label>
                    @Html.DropDownListFor(x => x.DefaultCurrencyID, Model.Currencies, HRMS.Models.Common.Constants.SelectCurrency, new { @class = "form-control", @required = "required" })
                </div>


                <div class="col-md-4 form-group">
                    <label>IsGroup<span class="Mandetory">*</span></label>
                    @Html.CheckBoxFor(a => a.IsGroup)
                </div>

                <div class="col-md-4 form-group">
                    <label>Parent Company<span class="Mandetory">*</span></label>
                    @Html.TextBoxFor(a => a.ParentCompany, new { @class = "form-control", @required = "required" })
                </div>



            </div>

            </div>
        
        <div class="row">   
            <div class="row">
                <div class="col-md-12">
                    <input style="float:right" type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>

        </div>
    </div>
</form>